<?xml-model href="rocketlaunch.xsd"?>
<launch>
        <node name="talker" pkg="starter_package" type="publisher.py" ns="h"/>
        <node name="listener" pkg="starter_package" type="subscriber2.py" output="screen" ns="h"/>
        <node name="sub_node" pkg="starter_package" type="subscriber.py" ns="h"/>
        <node name="subscriber" pkg="starter_package" type="++sub.py" output="screen" ns="h"/>
</launch>