<?xml-model href="rocketlaunch.xsd"?>
<launch>
        <node name="talker" pkg="starter_package" type="publisher_Abhiyaan_rocks.py" ns="h"/>
        <node name="listener" pkg="starter_package" type="subscriber_Abhiyaan_print.py" output="screen" ns="h"/>
        <node name="sub_node" pkg="starter_package" type="subscriber_publisher.py" ns="h"/>
        <node name="subscriber" pkg="starter_package" type="subscriber_print_inverted.py" output="screen" ns="h"/>
</launch>
